<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guru.im.auth.mapper.UserMapper">
    <select id="getByUserName" resultType="com.guru.im.auth.model.pojo.UserInfo">
        SELECT *
        FROM im_user
        WHERE user_name = #{userName}
    </select>
    <select id="getByUid" resultType="com.guru.im.auth.model.pojo.UserInfo">
        SELECT * FROM im_user WHERE uid = #{uid}
    </select>

    <insert id="save" parameterType="com.guru.im.auth.model.pojo.UserInfo" >
        INSERT INTO im_user
            (uid, user_name, password, phone, enabled_flag)
        VALUES
            (#{uid}, #{userName}, #{password}, #{phone}, #{enabledFlag})
    </insert>

    <insert id="saveFriendRelation" parameterType="com.guru.im.auth.model.pojo.FriendRelation">
        INSERT INTO im_friend_relation
        (id, uid, friend_id, user_name, friend_name, relation_status, create_time, update_time)
        VALUES
            (#{id}, #{uid}, #{friendId}, #{userName}, #{friendName}, #{relationStatus}, #{createTime}, #{updateTime})
    </insert>
</mapper>